body {
    background-color: #211F2D;
    background-image: radial-gradient(circle, #5A4C77 5%, transparent 5%);
    background-size: 10px 10px;
    animation: bg-animation 10s linear infinite;
    height: 100%;
    user-select: none;
  }
  
  @keyframes bg-animation {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  
  .box {
    text-align: center;
    margin: 15% auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: #211F2D;
    padding: 3%;
    padding-bottom: 10%;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .box p, 
  .box a {
        font-weight: bold;
        font-size: larger;
        text-decoration: none;
        color: black;
  }

#socials {
    display: inline-block;
    float: left;
    display: block;
    text-align: left;
  }
  #other {
    display: inline-block;
    float: right;
    display: block;
    text-align: left;
  }
  
  